.container {
    display: none;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100%;
        padding: 0px 0px 10px 0px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top: 1px solid rgba(167, 161, 153, 0.515);
    }

    .inner_container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .add_to_cart {
        border: 2px solid rgba(167, 161, 153, 0.515);
        text-align: center;
        font-weight: 500;
        width: 45%;
        font-family: 'Rubik', sans-serif;
        font-size: 1rem;
        border-radius: 5px;
        padding: 10px 30px;
        background-color: white;
    }

    .buy_now {
        text-align: center;
        font-weight: 500;
        width: 45%;
        font-size: 1rem;
        border-radius: 5px;
        padding: 10px 30px;
        color: white;
        /* background-color: #ffbb51; */
        background-color: #ff9f00;
        font-family: 'Rubik', sans-serif;
    }

    .offer {
        background-color: #7ab35b;
        padding: 5px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        /* border-top-right-radius: 15px;
        border-top-left-radius: 15px; */
    }
}