/* @media only screen and (max-width: 600px){ */
.container {
  margin-top: 50px;
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.label {
  color: rgb(146, 147, 149);
  font-family: 'Rubik', sans-serif;
  display: block;
  margin-bottom: 8px;
  margin-top: 10px;
}
input[type='text'] {
  outline: none;
  border-bottom: 1px solid rgb(146, 147, 149);
  width: 100%;
}
input[type='text']:active {
  outline: none;
}
.textField {
  display: block;
  width: 100%;
  margin-bottom: 5px !important;
  color: black;
}
.textField2 {
  display: block;
  width: 100%;
  /* padding-top: 4rem; */
  margin-bottom: 10px !important;
}
.button {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(43, 97, 224);
  width: fit-content;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: white;
  border-radius: 5px;
  z-index: 10;
}
.button2 {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(43, 97, 22);
  width: fit-content;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: white;
  border-radius: 5px;
}
.button3 {
  font-family: 'Rubik', sans-serif;
  background-color: red;
  width: fit-content;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: white;
  border-radius: 5px;
}
/* } */
#logOut {
  margin-left: 20px;
}
#info {
  color: red;
}
