@media only screen and (max-width: 600px){
    .rewards_container{
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-size: 1.1rem;
        height: 100vh;
        background-image: url("https://www.grambahar.com/images/rewards.jpg");
        background-repeat: no-repeat;
    }
}