/* .topHeader {
    background-color: #7ab35b;
    width: 100%;
    height: 38.8px;
    position: relative;
}

.announcement-message {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    word-spacing: 0.2rem;
}
.announcement-main{
    font-weight: bold;
    font-size: 1.1rem;
    
}
.sm-top-header{
    display: none;
} */
/* code for reponsiveness  */
/* @media only screen and (max-width: 600px) {
   .topHeader{
    display: none;
   }
   .sm-top-header{
    display: block;
    background-color: #7ab35b;

   }
   .sm-announcement-message{
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    word-spacing: 0.2rem;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
   }
  } */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
  .top_nav{
     display: flex;
     font-family: 'Poppins', sans-serif;
    /* align-items: center; */
    justify-content: center;
    /* min-height: 4vh; */
    padding-top: 5px;
    padding-bottom: 5px;
    background: #7ab35b;
    
  }
  .wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 10px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FFFF;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -80px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    /* line-height: 90px; */
  
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    /* height: 100%; */
    height: 100%;
    width: 100%;
    background: #7ab35b;
    border-left: 2px solid #FFFF;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 20px);
    }
    100%{
      left: 0;
    }
  }