.footer {
  margin-top: 50px;
  
  width: 100%;
  /* background-color: #7ab35b; */
  background-color: #f2f2f2;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
}

.footer-container {
  width: 1200px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.subscribe {
  margin-top: 0px;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
.subscribe_btn{
 margin-top: 10px;
 background-color: #ff9603;
 width: fit-content;
 padding: 10px 30px;
 color: white;
 border-radius: 5px;
}

.news-letter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.news-letter {
  border-radius: 10px;
  height: 30px;
  background-color: black;
  width: 210px;
}

.news-letter-submit {
  border-radius: 10px;
  width: 30px;
  background-color: black;
  height: fit-content;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  float: right;
}

.fa-news-letter {
  color: #7ab35b;

  font-size: 20px;
}
.footer-bottom-message {
}
.footer-col-right {
  flex-direction: row;
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}
.footer-col h2 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
.footer-col {
}
.footer-list {
  margin-top: 20px;
  line-height: 1.6rem;
}
.footer-list {
  list-style: none;
  color: black;
}
.support {
  margin-top: 30px;
  font-weight: bold;
  background-color: #fece68;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: black;
}
.copyright{
  text-align: center;
  margin-top: 120px;
  background-color: #7ab35b;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;  
  font-family: 'Montserrat', sans-serif;
}

/* code for small screen devices */
@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
