.contactButton {
  background-color: #7ab35b;
  padding: 5px 40px;
  border-radius: 20px;
}
.contactButton:hover {
  background-color: #58ae33;
}
.contactButton:active {
  background-color: #7ab35b;
}
.container {
  display: flex;
  width: 100vw;
}
.rightfooter {
  display: flex;
  width: 70vw;
}
.footer-col {
  margin-right: 5rem;
  /* width: 10rem; */
}
.leftfooter {
  width: 30vw;
  margin-left: 2rem;
}
.inputButton {
  alignitems: center;
}
