.contactContainer {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  width: 100%;
}
.leftContainer {
  flex: 1;
}
.rightContainer {
}

.label {
  color: rgb(146, 147, 149);
  font-family: 'Rubik', sans-serif;
  display: block;
  margin-bottom: 8px;
  margin-top: 10px;
}
input[type='text'] {
  outline: none;
  /* border-bottom: 1px solid rgb(146, 147, 149); */
  width: 100%;
}
input[type='text']:active {
  outline: none;
}
.textField {
  display: block;
  width: 100%;
  /* margin-bottom: 5px !important; */
  color: black;
  border-radius: 5px;
}
.button {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(43, 97, 22);
  width: fit-content;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(20, 50, 10);
  }
  &:active {
    transform: scale(0.99);
  }
}
.row {
  display: flex; /* Display children elements in a row */
  justify-content: space-between; /* Space elements evenly within the row */
  margin-bottom: 10px; /* Adjust the margin between rows as needed */
  margin-right: 2rem;
}
